src/main/mule/child.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e581a3cb-0586-4aba-bd6a-c67a527f23bf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="8d8e3475-45dd-4fcb-b4e3-658d8805e675" />
	<flow name="childFlow" doc:id="6ef810c7-cc6f-4e89-8c0a-487084803c85" >
		<http:listener doc:name="Listener" doc:id="a564907e-3236-4df1-877d-a219e433b4e1" config-ref="HTTP_Listener_config" path="/demo"/>
		<ee:transform doc:name="Transform Message" doc:id="782a2f78-a264-407d-821e-2b9c93284490" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "hello"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6f2ef774-b22d-4340-a63f-f4473a02f917" message="#[payload]"/>
		<file:write doc:name="Write" doc:id="5d1e8990-ee15-4707-ad9f-63b3d47c6135" config-ref="File_Config" path="D:\child.txt"/>
	</flow>
</mule>
